<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>sist_myLab_prj2_movie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
<!--    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>-->
  </welcome-file-list>
  <resource-ref>

	<res-ref-name>jdbc/dbcp</res-ref-name>

	<res-type>javax.sql.DataSource</res-type>

	<res-auth>Container</res-auth>

  </resource-ref>
  
  <!-- 서비스를 운영할 때 에러메시지 말고 준비된 페이지를 보여줄 때. -->
<!--   <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/err/err_404.html</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/WEB-INF/err/err_500.html</location>
  </error-page> -->
</web-app>